<app-header2></app-header2>

<ion-content>
<body>
		<div class="container" *ngIf="verificada===true">
			<div class="d-flex justify-content-center h-100">
				<div class="card">
					<div class="card-header">
						<h3>Añadir producto</h3>
					</div>
					<div class="card-body">
						<form #formLogin="ngForm">
							<!-- Título -->
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<ion-icon name="bookmark-outline"></ion-icon>
									</span>
								</div>
								<input type="text" class="form-control" name="titulo"
									[(ngModel)]="titulo" placeholder="Título">
							</div>
							
							<!-- Descripción -->
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<ion-icon name="document-text-outline"></ion-icon>
									</span>
								</div>
								<input type="text" class="form-control" name="descripcion"
									[(ngModel)]="descripcion" placeholder="Descripción">
							</div>

							<!-- Precio -->
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<ion-icon name="wallet-outline"></ion-icon>
									</span>
								</div>
								<input type="number" class="form-control" name="precio"
									[(ngModel)]="precio" placeholder="Precio">
							</div>

							<!-- Gastos de envío -->
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<ion-icon name="airplane-outline"></ion-icon>
									</span>
								</div>
								<input type="number" class="form-control" name="gastos"
									[(ngModel)]="gastos" placeholder="Gastos de envío">
							</div>

							<!-- Stock -->
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<ion-icon name="cube-outline"></ion-icon>
									</span>
								</div>
								<input type="number" class="form-control" name="stock"
									[(ngModel)]="stock" placeholder="Stock">
							</div>

							<!-- Imagen -->
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<ion-icon name="image-outline"></ion-icon>
									</span>
								</div>
								<input (change)="setFile($event)" type="file" name="imagen">
							</div>
							<div class="form-group">
								<input type="submit" (click)="subirProducto()"
									value="Añadir producto" class="btn float-right login_btn">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="container" *ngIf="verificada!=true">
			<div class="d-flex justify-content-center h-100">
				<div class="card-2">
					<div class="card-header">
						<h3>Aviso de ArtisanDraw</h3>
					</div>
					<div class="card-body">
						<span class="texto"> Para poder subir un producto a su tienda, debe configurar su cuenta de
							PayPal y verificarla.
							Para ello, acceda al siguiente enlace. </span><br><br>
						<ion-button routerLink="/profile/me/configure-paypal"> Configurar PayPal
						</ion-button>
					</div>
				</div>
			</div>
		</div>
	</body>
</ion-content>
