<app-header2></app-header2>

<ion-content>

	<body>
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card">
					<div class="card-header">
						<h3>Añadir publicación</h3>
					</div>
					<div class="card-body">
						<form #formLogin="ngForm">
							<!-- Título -->
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<ion-icon name="bookmark-outline"></ion-icon>
									</span>
								</div>
								<input type="text" class="form-control" name="titulo"
									[(ngModel)]="titulo" placeholder="Título">
							</div>
							
							<!-- Categorías -->
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<ion-icon name="pricetags-outline"></ion-icon>
									</span>
								</div>
								<input type="text" class="form-control" name="categorias"
									[(ngModel)]="mostrarCategorias" placeholder="Categorías" disabled>
							</div>
							<div class="input-group form-group">
								<ion-button (click)="abrirCategorias()" color="azuloscuro"><ion-icon slot="start" name="add-outline"></ion-icon>Elegir categorías</ion-button>
							</div>


							<!-- Imagen -->
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<ion-icon name="image-outline"></ion-icon>
									</span>
								</div>
								<input (change)="setFile($event)" type="file" name="imagen">
							</div>
							<div class="form-group">
								<input (click)="subirPublicacion()" type="submit"
									value="Subir publicación" class="btn float-right login_btn">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</ion-content>