<app-header2></app-header2>

<ion-content color="azuldegradado">

	<ion-list class="lista">
		<ion-item color="azulnaranja">
			<ion-label>Fecha</ion-label>
			<ion-label>Usuario</ion-label>
			<ion-label>Tipo</ion-label>
			<ion-label>Estado</ion-label>
			<ion-label>Precio</ion-label>
			<ion-label>Acciones</ion-label>
		</ion-item>
		<ion-item *ngFor="let pedido of pedidos" color="grisazul">
			<ion-label> {{ pedido.fecha }}</ion-label>
			<ion-label> {{ pedido.usuario }}</ion-label>
			<ion-label> {{ pedido.tipo }} </ion-label>
			<ion-label> {{ pedido.estado }} </ion-label>
			<ion-label> {{ pedido.precio }}</ion-label>
			<ion-label>
				<ion-buttons>
					<ion-button (click)="modificarEstado(pedido.id)">
						<ion-icon name="create-outline"></ion-icon>
					</ion-button>
					<ion-button (click)="irOrder(pedido.id)" >
						<ion-icon name="eye-outline"></ion-icon>
					</ion-button>
					<ion-button (click)="delete(pedido.id)" *ngIf="pedido.estado === 'Cancelado'">
						<ion-icon name="trash-outline"></ion-icon>
					</ion-button>
				</ion-buttons>
			</ion-label>
		</ion-item>
	</ion-list>

</ion-content>