<app-header2></app-header2>

<!--<ion-content color="azuldegradado">
	<div class="container">
		<div class="row">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-xs-6 thumb"*ngFor="let publicacion of publicaciones">
					<img class="img-thumbnail" [src]="publicacion.imagen" [routerLink]="['/publications/publication', publicacion.idpublicacion]">
					<a (click)="quitarPublicacion(publicacion.idpublicacion)"><ion-icon name="trash-outline"></ion-icon></a>
				</div>
			</div>
		</div>
	</div>
</ion-content>-->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>


<ion-content color="azuldegradado">
	<!-- Page Content -->

	<div class="container page-top">
		<ion-button (click)="borrar()" color="azulnaranja">Eliminar carpeta</ion-button><br/><br/>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-xs-6 thumb" *ngFor="let publicacion of publicaciones">
				<a [routerLink]="['/publications/publication', publicacion.id]" class="fancybox" rel="ligthbox">
					<img [src]="publicacion.imagen" class="zoom img-fluid" alt="">
					<a (click)="quitarPublicacion(publicacion.idpublicacion)">
						<ion-icon color="blancoazul" name="trash-outline"></ion-icon>
					</a>
				</a>
			</div>
		</div>
	</div>

</ion-content>