<app-header2></app-header2>

<ion-content color="azuldegradado">

	<div class="tarjeta">
		<div>
			<img src="../../../../assets/logo.png" height="60" alt="logo artisandraw"  />
		</div>
		<div style="background-color: #ebebeb; border-top: thick double #cccccc; text-align: left;">
			<div style="margin: 30px;">
				<p>
					De: {{ emisor }}<br> <br>
					Asunto: {{ asunto }}<br> <br>
				</p>
				<hr>
				<br>
				<p>
					{{ texto }}
				</p>
				<br>
			</div>
		</div>
		<div style="float: right; margin-top: 10px;">
			<ion-button color="azulnaranja" [routerLink]="['/reply', idmensaje]">Responder</ion-button>
		</div>
	</div>
</ion-content>