
	<ion-item color="grisazul">
		<ion-list  color="grisazul">
			<ion-item (click)="signOut()" color="grisazul">
				<ion-label>Cerrar sesión</ion-label>
			</ion-item>
			<ion-item [routerLink]="['/configuration']" color="grisazul">
				<ion-label>Configuración</ion-label>
			</ion-item>
		</ion-list>
	</ion-item>
