<ion-header>
	<ion-toolbar>
		<ion-title>Elegir categorías</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="cerrarModal()">Cerrar</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-list>
		<ion-item *ngFor="let category of categories">
			<ion-checkbox [(ngModel)]="category.checked" slot="start"></ion-checkbox>
			<ion-label>{{ category.nombre }}</ion-label>
		</ion-item>
	</ion-list>

</ion-content>