<app-header2></app-header2>

<ion-content color="azuldegradado">
	<br><br><br>
	<div class="container">
		<ion-item color="grisazul">
			<ion-label position="stacked">Usuario</ion-label>
			<ion-input [value]="usuario" disabled></ion-input>
		</ion-item>
		<ion-item color="grisazul">
			<ion-label position="stacked">Asunto</ion-label>
			<ion-input [value]="asunto" disabled></ion-input>
		</ion-item>
		<ion-item color="grisazul">
			<ion-label position="stacked">Mensaje a responder</ion-label>
			<ion-textarea [value]="texto_anterior" disabled></ion-textarea>
		</ion-item>
		<ion-item color="grisazul">
			<ion-label position="stacked" color="azulnaranja">Cuerpo del mensaje</ion-label>
			<ion-textarea [(ngModel)]="mensaje"> </ion-textarea>
		</ion-item>
		<br><br>
		<ion-button color="azulnaranja" (click)="enviarRespuesta()">Responder</ion-button>
	</div>
</ion-content>