<app-header2></app-header2>

<ion-content color="azuldegradado">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->

	<div class="container">
		<br />
		<div class="card">
			<div class="row">
				<aside class="col-sm-5 border-right">
					<article class="gallery-wrap">
						<div class="img-big-wrap">
							<div> <a href="#"><img [src]="image"></a>
							</div>
						</div> <!-- slider-product.// -->
					</article> <!-- gallery-wrap .end// -->
				</aside>
				<aside class="col-sm-7">
					<article class="card-body p-5">
						<h3 class="title mb-3">{{ title }}</h3>

						<p class="price-detail-wrap">
							<span class="price h3 text-warning">
								<span class="num">{{ price }}</span><span class="currency"> €</span>
							</span>
						</p> <!-- price-detail-wrap .// -->
						<dl class="item-property">
							<dt>Descripción</dt>
							<dd>
								<p> {{ description }} </p>
							</dd>
						</dl>
						<dl class="param param-feature">
							<dt>Gastos de envío</dt>
							<dd>{{ envio }} €</dd>
						</dl> <!-- item-property-hor .// -->
						<dl class="param param-feature">
							<dt>Vendedor</dt>
							<dd>{{ usuario }}</dd>
						</dl> <!-- item-property-hor .// -->
						<hr>
						<ion-button color="azulnaranja" size="large" [routerLink]="['/products/confirm-purchase', idproduct]">Comprar</ion-button>
						<ion-button *ngIf="idactual === iduser" color="azulnaranja" size="large" (click)="borrar()">Borrar producto</ion-button>
					</article> <!-- card-body.// -->
				</aside> <!-- col.// -->
			</div> <!-- row.// -->
		</div> <!-- card.// -->
	</div>
	<!--container.//-->
</ion-content>