<ion-header>
	<ion-toolbar class="navbar">

		<ion-buttons slot="start">
			<ion-back-button defaultHref="home" mode="md"></ion-back-button>
		</ion-buttons>
		<ion-buttons slot="end" (click)="activarMenu()">
			<ion-menu-button auto-hide="false"></ion-menu-button>
		</ion-buttons>

		<img [routerLink]="['/home']" src="../../../assets/logo.png" class="logo">
	</ion-toolbar>
</ion-header> 