<app-header2></app-header2>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>


<ion-content color="azuldegradado">
	<!-- Page Content -->

	<div class="container page-top">

	<h2 style="color: white">Todas las publicaciones</h2>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-xs-6 thumb" *ngFor="let publication of publications">
				<a [routerLink]="['/publications/publication', publication.id]"
					class="fancybox" rel="ligthbox">
					<img [src]="publication.imagen"
						class="zoom img-fluid" alt="">
				</a>
			</div>
		</div>
	</div>

</ion-content>