<app-header2></app-header2>

<ion-content>

	<body>
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card">
					<div class="card-header">
						<h3>Realizar pedido a {{ nombre }}</h3>
					</div>
					<div class="card-body">
						<form #formLogin="ngForm">
							<div class="row">
								<div class="col-md-12">
									<!-- Tipo -->
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<ion-icon name="pricetag"></ion-icon>
											</span>
										</div>
										<input type="text" class="form-control" 
										name="tipo" [(ngModel)]="tipo"
										placeholder="Tipo de pedido (personaje, paisaje, etc)"
										required>
									</div>
									<!-- Tamaño -->
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<ion-icon name="resize"></ion-icon>
											</span>
										</div>
										<input type="text" class="form-control"
										name="tam" [(ngModel)]="tam" 
										placeholder="Tamaño (pequeño, mediano, chibi, cuerpo completo, etc)"
										required>
									</div>
									<!-- Presupuesto -->
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<ion-icon name="wallet"></ion-icon>
											</span>
										</div>
										<input type="number" class="form-control"
										name="presupuesto" [(ngModel)]="presupuesto"
										placeholder="Presupuesto aproximado" required>
									</div>
									<!-- Descripción -->
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<ion-icon name="pencil"></ion-icon>
											</span>
										</div>
										<textarea class="form-control"
										name="descripcion" [(ngModel)]="descripcion"
										placeholder="Descripción" required></textarea>
									</div>
								</div>
							</div>
							<br />
							<div class="form-group">
								<input (click)="pedir()" [disabled]="!formLogin.valid"
									type="submit" value="Realizar pedido"
									class="btn float-right login_btn">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</ion-content>