<app-header2></app-header2>

<ion-content color="azuldegradado">
	<div class="container">
		<h2 style="color: white;">Mis carpetas</h2>
		<div class="row">
			<div *ngFor="let folder of foldersUser" class="col-12 col-sm-6 col-md-4 image-grid-item">
				<div [ngStyle]="{'background-image': 'url(' + folder.imagen + ')'}"
					[routerLink]="['/folders/folder', folder.id]"
					class="image-grid-cover">
					<a href="#" class="image-grid-clickbox"></a>
					<a href="#" class="cover-wrapper">{{ folder.nombre }}</a>
				</div>
			</div>
		</div>
	</div>
</ion-content>