<ion-header>
	<ion-toolbar class="navbar">
		<img src="../../../assets/logo.png" class="logo">
	</ion-toolbar>
</ion-header>

<ion-content>

	<body>
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card">
					<div class="card-header">
						<h3>Iniciar sesión</h3>
					</div>
					<div class="card-body">
						<form #formLogin="ngForm">
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<ion-icon name="mail"></ion-icon>
									</span>
								</div>
								<input type="email" class="form-control" name="email" #correo="ngModel"
									[(ngModel)]="email" placeholder="Correo electrónico"
									required>
							</div>
							<div class="invalid">
								<span *ngIf="correo.touched && !correo.valid">
									El correo electrónico es obligatorio.
								</span>
							</div>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<ion-icon name="key"></ion-icon>
									</span>
								</div>
								<input type="password" class="form-control" placeholder="Contraseña"
									name="password" #password="ngModel" [(ngModel)]="pass" required>
							</div>
							<div class="invalid">
								<span *ngIf="password.touched && !password.valid">
									La contraseña es obligatoria.
								</span>
							</div>
							<br />
							<div class="form-group">
								<input (click)="onSubmitLogin()" [disabled]="!formLogin.valid"
									type="submit" value="Iniciar sesión"
									class="btn float-right login_btn">
							</div>
						</form>
					</div>
					<div class="card-footer">
						<div class="d-flex justify-content-center links">
							¿No tienes cuenta?<a href="/register">Regístrate</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</ion-content>