<app-header2></app-header2>

<ion-content color="azuldegradado">
	<ion-list lines="inset" class="lista">
		<ion-item color="azulnaranja">
			<ion-label>Usuario</ion-label>
			<ion-label>Asunto</ion-label>
			<ion-label>Cuerpo del mensaje</ion-label>
			<ion-label>Acciones</ion-label>
		</ion-item>
		<ion-item *ngFor="let mensaje of mensajes" color="grisazul">
			<ion-label>{{ mensaje.emisor }}</ion-label>
			<ion-label>{{ mensaje.asunto }}</ion-label>
			<ion-label>{{ mensaje.texto }}</ion-label>
			<ion-label>
				<ion-buttons>
					<ion-button [routerLink]="['/message', mensaje.id]">
						<ion-icon name="eye-outline"></ion-icon>
					</ion-button>
					<ion-button (click)="delete(mensaje.id)">
						<ion-icon name="trash-outline"></ion-icon>
					</ion-button>
				</ion-buttons>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>