<app-header2></app-header2>

<ion-content color="azuldegradado">
	<body>
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card">
					<div class="card-header">
						<h3>Eliminar cuenta</h3>
					</div>
					<div class="card-body">
						<span class="texto">Al eliminar tu cuenta, se borrarán todas tus publicaciones. Además, el dinero acumulado en tu monedero sin canjear lo perderás.
						</span>
						<br><br>
						<form #formLogin="ngForm">
							<div class="row">
								<div class="col-md-12">
									<!-- Dirección de envío -->
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<ion-icon name="map"></ion-icon>
											</span>
										</div>
										<input type="password" class="form-control" name="pass"
											[(ngModel)]="pass" placeholder="Contraseña" required>
									</div>
								</div>
							</div>
						</form>
						<br/><br/>
						<ion-button color="azulnaranja" (click)="borrar()">Borrar cuenta</ion-button>
					</div>
				</div>
			</div>
		</div>
	</body>
</ion-content>
