<ion-menu side="end" menuId="first" contentId="main" color="grisazul"> 
	<ion-header color="grisazul">
		<ion-toolbar color="azulnaranja">
			<ion-title>Menú</ion-title>
			<ion-buttons *ngIf="isAuth==true" slot="end">
				<ion-button (click)="showPopover($event)">
					<ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
				</ion-button>
			</ion-buttons>
		</ion-toolbar>
	</ion-header>
	<ion-content color="grisazul">
		<body>
			<ion-list color="grisazul" class="lista">
				<ion-menu-toggle color="grisazul">
					<ion-item mode="ios" [routerLink]="['/profile', userActual]" color="grisazul">Perfil</ion-item>
					<ion-item mode="ios" [routerLink]="['/publications', iduser]" color="grisazul">Publicaciones</ion-item>
					<ion-item mode="ios" [routerLink]="['/shop', iduser]" color="grisazul">Tienda</ion-item>
					<ion-item mode="ios" [routerLink]="['/folders', iduser]" color="grisazul">Carpetas</ion-item>
					<ion-item mode="ios" [routerLink]="['/messages']" color="grisazul">Mensajes</ion-item>
					<ion-item mode="ios" color="azulnaranja">Pedidos</ion-item>
					<ion-item mode="ios" [routerLink]="['/orders-user', iduser]" color="grisazul"> Pedidos realizados </ion-item>
					<ion-item mode="ios" [routerLink]="['/orders', iduser]" color="grisazul"> Pedidos recibidos </ion-item>
				</ion-menu-toggle>
			</ion-list>
		</body>
	</ion-content>
</ion-menu>