<app-header2></app-header2>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<ion-content color="azuldegradado">
	<div class="container emp-profile">
		<form method="post">
			<div class="row">
				<div class="col-md-4">
					<div class="profile-work">
						<p>LINKS</p>
						<a href="" [routerLink]="['/publications', userActual]">Publicaciones</a><br />
						<a href="" *ngIf="verificada===true" [routerLink]="['/shop', userActual]">Tienda</a><br />


						<p *ngIf="mostrarMonedero===true">MONEDERO</p>
						<a href="" *ngIf="mostrarMonedero===true">{{ monedero }} €</a><br /><br/>
						<!--<ion-button mode="md" *ngIf="mostrarMonedero===true" type="submit" (click)="canjear()" name="btnAddMore" color="azulnaranja">Canjear monedero</ion-button>-->
						<input (click)="canjear()" type="submit" value="CANJEAR MONEDERO" class="btn login_btn">
					</div>
				</div>
				<div class="col-md-6">
					<div class="profile-head">
						<h5>
							{{ name }}
						</h5>
						<ul class="nav nav-tabs" id="myTab" role="tablist">
						</ul>
						<div class="tab-content profile-tab" id="myTabContent">
							<div class="tab-pane fade show active" id="home" role="tabpanel"
								aria-labelledby="home-tab">
								<div class="row">
									<div class="col-6">
										<label>Usuario:</label>
									</div>
									<div class="col-6" class="texto">
										<p>{{ username }}</p>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<label>Nombre:</label>
									</div>
									<div class="col-6" class="texto">
										<p>{{ name }}</p>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<label>Seguidores: </label>
									</div>
									<div class="col-6" class="texto">
										<p>{{ seguidores }}</p>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<label>Siguiendo: </label>
									</div>
									<div class="col-6" class="texto">
										<p>{{ seguidos }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2" *ngIf="activarSeguir" >
					<ion-button type="submit" color="azulnaranja" *ngIf="!followExiste" (click)="seguirUsuario()" name="btnAddMore" >Seguir</ion-button>
					<ion-button type="submit" color="azulnaranja" *ngIf="followExiste" (click)="seguirUsuario()" name="btnAddMore" >Dejar de seguir</ion-button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					
				</div>
			</div>
		</form>
	</div>
</ion-content>