/*@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body
{
    font-family: 'Lato', 'sans-serif';
    }
.profile 
{
    min-height: 355px;
    display: inline-block;
    }
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu 
{
    background-color: #34495e;    
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider 
{
    background:none;    
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu 
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before 
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    }

    .container {
	    background-color: linear-gradient(to right, #6c7a8f, #c0c9d2);
    }*/

    body{
	background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  }
  .emp-profile{
	padding: 3%;
	margin-top: 3%;
	margin-bottom: 3%;
	border-radius: 0.5rem;
	background: #fff;
  }
  .profile-img{
	text-align: center;
  }
  .profile-img img{
	width: 70%;
	height: 100%;
  }
  .profile-img .file {
	position: relative;
	overflow: hidden;
	margin-top: -20%;
	width: 70%;
	border: none;
	border-radius: 0;
	font-size: 15px;
	background: #212529b8;
  }
  .profile-img .file input {
	position: absolute;
	opacity: 0;
	right: 0;
	top: 0;
  }
  .profile-head h5{
	color: #1c4269;
  }
  .profile-head h6{
	color: #0062cc;
  }
  .profile-edit-btn{
	border: none;
	border-radius: 1.5rem;
	width: 70%;
	padding: 2%;
	font-weight: 600;
	color: #6c757d;
	cursor: pointer;
  }
  .proile-rating{
	font-size: 12px;
	color: #818182;
	margin-top: 5%;
  }
  .proile-rating span{
	color: #495057;
	font-size: 15px;
	font-weight: 600;
  }
  .profile-head .nav-tabs{
	margin-bottom:5%;
  }
  .profile-head .nav-tabs .nav-link{
	font-weight:600;
	border: none;
  }
  .profile-head .nav-tabs .nav-link.active{
	border: none;
	border-bottom:2px solid #0062cc;
  }
  .profile-work{
	padding: 14%;
	margin-top: -15%;
  }
  .profile-work p{
	font-size: 12px;
	color: #818182;
	font-weight: 600;
	margin-top: 10%;
  }
  .profile-work a{
	text-decoration: none;
	color: #495057;
	font-weight: 600;
	font-size: 14px;
  }
  .profile-work ul{
	list-style: none;
  }
  .profile-tab label{
	font-weight: 600;
  }
  .profile-tab p{
	font-weight: 600;
	color: #ff6a00;
  }

  .login_btn{
	color: #ff8559;
	background-color: #1c4269;
	width: 200px;
}

.login_btn:hover{
	color: black;
	background-color: white;
}