.invalid {
	color: #c7eae4;
	margin-bottom: 7px;
}

.logo {
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-left: 20px;
}

.titulo {
	vertical-align: middle;
	display: inline-block;
	color: #25374e;
}

html,body{
	background-color: #a6d8e0;
	background: linear-gradient(to right, #6c7a8f, #c0c9d2);
	height: 100%;
	font-family: 'Numans', sans-serif;
}

.container{
	height: 100%;
	align-content: center;
}

@media only screen and (max-width: 400px) {
	.invalid {
		color: #c7eae4;
		margin-bottom: 7px;
	}
	
	.logo {
		width: 40px;
		height: 40px;
		display: inline-block;
		margin-left: 20px;
	}
	
	.titulo {
		vertical-align: middle;
		display: inline-block;
		color: #25374e;
	}
	
	html,body{
		background-color: #a6d8e0;
		background: linear-gradient(to right, #6c7a8f, #c0c9d2);
		height: 100%;
		font-family: 'Numans', sans-serif;
	}
	
	.container{
		height: 100%;
		align-content: center;
	}
	.card{
		height: 600px;
		margin-top: auto;
		margin-bottom: auto;
		width: 550px;
		background-color: rgb(37,55,78,0.5)!important;
	}
	.card-header h3{
		text-align: center;
		padding-top: 10px;
		color: white;
	}
	
	.input-group-prepend span{
		width: 40px;
		background-color: #1c4269;
		color: white;
		border:0 !important;
	}
	
	input:focus{
		outline: 0 0 0 0  !important;
		box-shadow: 0 0 0 0 !important;
	
	}
	
	.login_btn{
		color: white;
		background-color: #1c4269;
		width: 150px;
	}
	
	.login_btn:hover{
		color: black;
		background-color: white;
	}
	
	.links{
		color: white;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.links a{
		margin-left: 4px;
		color: #1c4269;
	}
	
	.texto {
		color: white;
	}
	
	
}

.card-header h3{
	text-align: center;
	padding-top: 10px;
	color: white;
}

.input-group-prepend span{
	width: 40px;
	background-color: #1c4269;
	color: white;
	border:0 !important;
}

input:focus{
	outline: 0 0 0 0  !important;
	box-shadow: 0 0 0 0 !important;

}

.login_btn{
	color: white;
	background-color: #1c4269;
	width: 150px;
}

.login_btn:hover{
	color: black;
	background-color: white;
}

.links{
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

.links a{
	margin-left: 4px;
	color: #1c4269;
}

.texto {
	color: white;
}

