<app-header2></app-header2>

<ion-content color="azuldegradado">
	<body>
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card">
					<div class="card-header">
						<h3>Activar/Desactivar comisiones</h3>
					</div>
					<div class="card-body">
						<span *ngIf="comisiones === false" class="texto">Al activar las comisiones, tendrás acceso a que tus clientes puedan hacerte pedidos personalizados. <br/>
							Se habilitará un "producto nuevo" en tu tienda donde, al clickar, los clientes accederán a un pequeño formulario inicial.
							Una vez sea rellenado por alguno de ellos, el pedido será visible en tu apartado "Pedidos recibidos". <br/> Recuerda que para tener
							acceso a tu tienda, debes haber verificado tu cuenta de PayPal. Para ello, accede a Configuración > Configurar PayPal.
						</span><br>


						<span *ngIf="comisiones === true" class="texto">Al desactivar las comisiones, tus clientes ya no podrán hacerte nuevos pedidos personalizados
							hasta que lo vuelvas a activar.
						</span><br>
						<br>
						<ion-button *ngIf="comisiones === false" color="azulnaranja" (click)="activar()">Activar</ion-button>

						<ion-button *ngIf="comisiones === true" color="azulnaranja" (click)="desactivar()">Desactivar</ion-button>
						<br>
					</div>
				</div>
			</div>
		</div>
	</body>
</ion-content>
