<app-header2></app-header2>

<ion-content>

	<body>
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card">
					<div class="card-header">
						<h3>Pedido de {{ usuario }}</h3>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<!-- Tipo -->
								<div>
									<label class="titulo">Tipo: </label><br>
									<span>{{ tipo }}</span><br><br>
								</div>
								<!-- Tamaño -->
								<div>
									<label class="titulo">Tamaño: </label><br>
									<span>{{ tam }}</span><br><br>
								</div>
							</div>
							<div class="col-md-6">
								<!-- Presupuesto -->
								<div>
									<label class="titulo">Presupuesto: </label><br>
									<span>{{ presupuesto }} €</span><br><br>
								</div>
								<!-- Estado -->
								<div>
									<label class="titulo">Estado: </label><br>
									<span>{{ estado }}</span><br><br>
								</div>
								<!-- Direcció envío -->
								<div>
									<label class="titulo">Dirección de envio: </label><br>
									<span>{{ direccion }}</span>
								</div>
							</div>
							<div class="col-md-12">
								<!-- Descripción -->
								<div>
									<label class="titulo">Descripción: </label><br>
									<span>{{ descripcion }}</span>
								</div>
							</div>
						</div>
						<br />
						<div class="form-group">
							<input (click)="modificarEstado()" type="submit"
								value="Modificar estado" class="btn float-right login_btn">
							<input [routerLink]="['/send-message', usuarioid]" type="submit"
								value="Enviar mensaje" class="btn float-right login_btn">
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</ion-content>