body {
	width: 500px;
	margin: 20px auto;
	font: 16px/1.4 Arial, sans-serif;
	background: #f3eee9;
  }
  
  p {
	margin: 0 0 1em;
  }

  .comment {
	overflow: hidden;
	padding: 0 0 1em;
	border-bottom: 1px solid #ddd;
	margin: 0 0 1em;
	*zoom: 1;
  }

  .comment-body {
	overflow: hidden;
	margin-left: 50px;
  }
  
  .comment .text {
	padding: 10px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	background: #fff;
  }
  
  .comment .text p:last-child {
	margin: 0;
  }

  .comment .attribution {
	margin: 0.5em 0 0;
	font-size: 14px;
	color: #666;
  }

  .chatMessageControls {
    
	margin-top: 6px;
	padding: 10px;
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #e1e1e1;
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #c3c3c3;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	
  }

  input {
	  margin-right: 30px;
  }

  .borrar {
	  margin-left: 20px;
  }