<ion-header no-border>
	<ion-toolbar>
		<ion-title> Comentarios </ion-title>

		<ion-button slot="start" (click)="cerrarComentarios()" mode="md" fill="clear">
			<ion-icon name="close-outline"></ion-icon>
		</ion-button>

	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="input-group input-group-sm chatMessageControls">
		<input [(ngModel)]="comentario" type="text" class="form-control" placeholder="Escribe tu mensaje aquí...">
		<span class="input-group-btn">
			<button (click)="nuevoComentario()" id="sendMessageButton" class="btn btn-primary" type="button">
				<i class="fa fa-send"></i>
			</button>
		</span>
	</div>
	<br>
	<section class="comments">
		<article class="comment" *ngFor="let comment of comments">
			<div class="comment-body">
				<div class="text">
					<p>{{ comment.texto }}</p>
				</div>
				<span class="attribution">de <a href="">{{ comment.usuario }}</a> el {{ comment.fecha }}</span>
				<a class="borrar" *ngIf="user === idactual" (click)="borrarComentario(comment.texto, comment.usuario, comment.fecha)"><ion-icon name="trash-outline"></ion-icon></a>
			</div>
		</article>
	</section>
</ion-content>