<ion-header>
	<ion-toolbar>
		<ion-title>Modificar estado</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<p>Selecciona uno de los siguientes estados para el pedido actual:</p>
	<span>· Pendiente de aprobación</span><br>
	<span>· Aceptado - Pendiente de pago</span><br>
	<span>· Pagado - Boceto</span><br>
	<span>· Pagado - En proceso</span><br>
	<span>· Finalizado - En entrega</span><br>
	<span>· Finalizado - Entregado</span><br>
	<span>· Cancelado</span><br><br>

	<span>El estado "Pagado" se pondrá automáticamente cuando el cliente haya realizado el pago del pedido.</span><br>
	<span>El cliente solo podrá pagar el producto una vez esté en estado "Aceptado - Pendiente de pago".</span><br>
	<span>Si el pedido está en estado "Cancelado", podrá borrarlo de la lista de pedidos.</span><br>

	<select [(ngModel)]="estado" class="select-css">
		<option selected="true" disabled>Selecciona un nuevo estado para el pedido.</option>
		<option value="Pendiente de aprobación">Pendiente de aprobación</option>
		<option value="Aceptado - Pendiente de pago">Aceptado - Pendiente de pago</option>
		<option value="Pagado - Boceto">Pagado - Boceto</option>
		<option value="Pagado - En proceso">Pagado - En proceso</option>
		<option value="Finalizado - En entrega">Finalizado - En entrega</option>
		<option value="Finalizado - Entregado">Finalizado - Entregado</option>
		<option value="Cancelado">Cancelado</option>
	</select>
	<input class="input-css" [(ngModel)]="precio" *ngIf="estado === 'Aceptado - Pendiente de pago'" type="number" placeholder="Precio del pedido">
	<input class="input-css" [(ngModel)]="envio" *ngIf="estado === 'Aceptado - Pendiente de pago'" type="number" placeholder="Gastos de envío del pedido">

	<ion-button expand="block" color="azuloscuro" (click)="cerrarModal()">Aceptar</ion-button>
</ion-content>