<app-header2></app-header2>

<ion-content class="content">
	<body>
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card" *ngIf="verificado===false">
					<div class="card-header">
						<h3>Configurar PayPal</h3>
					</div>
					<div class="card-body">
						<span class="texto">Para poder recibir los pagos correspondientes a las ventas
							realizadas,
							es necesario vincular la cuenta de PayPal. Cuando indique la suya, recibirá un
							pequeño
							ingreso en su cuenta. Indique cual es el valor de la transferencia para
							verificarla.
						</span>
						<br><br>
						<div class="row">
							<div class="col-md-12">
								<div class="input-group form-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<ion-icon name="key"></ion-icon>
										</span>
									</div>
									<input type="email" class="form-control" name="paypal" [(ngModel)]="paypal"
										placeholder="Cuenta de Paypal" ng-disabled="disabled===true">
								</div>
								<ion-button (click)="transferencia()">Recibir transferencia
								</ion-button>
								<br><br><br>

								<span class="texto">Inserte la cantidad recibida, separando el
									número entero del decimal con un punto.</span><br><br>
								<div class="input-group form-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<ion-icon name="key"></ion-icon>
										</span>
									</div>
									<input type="number" class="form-control" name="num_verificacion"
										[(ngModel)]="num_verificacion"
										placeholder="Cantidad recibida">
								</div>
								<ion-button (click)="verificar()">Verificar</ion-button>
							</div>
						</div>
					</div>
				</div>
				<div class="card-2" *ngIf="verificado!=false">
					<div class="card-header">
						<h3>Configurar PayPal</h3>
					</div>
					<div class="card-body">
						<span class="texto"> Tu cuenta de PayPal ya ha sido verificada, ya puedes vender tus productos en la web. </span>
					</div>
				</div>
			</div>
		</div>
	</body>
</ion-content>