/*
*
* ===========================================================
*     HERO SECTION
* ===========================================================
*
*/
    .hero {
	padding: 6.25rem 0px !important;
	margin: 0px !important;
    }
    .cardbox {
	border-radius: 3px;
	margin-bottom: 20px;
	padding: 0px !important;
    }
    
    /* ------------------------------- */
    /* Cardbox Heading
    ---------------------------------- */
    .cardbox .cardbox-heading {
	padding: 10px;
	margin: 0;
    }
    .cardbox .btn-flat.btn-flat-icon {
     border-radius: 50%;
     font-size: 24px;
     height: 32px;
     width: 32px;
     padding: 0;
     overflow: hidden;
     color: #fff !important;
     background: #b5b6b6;
     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .cardbox .float-right .dropdown-menu{
	position: relative;
	left: 13px !important;  
    }
    .cardbox .float-right a:hover{
	background: #f4f4f4 !important;	
    }
    .cardbox .float-right a.dropdown-item {
	display: block;
	width: 100%;
	padding: 4px 0px 4px 10px;
	clear: both;
	font-weight: 400;
	font-family: 'Abhaya Libre', serif;
	font-size: 14px !important;
	color: #848484;
	text-align: inherit;
	white-space: nowrap;
	background: 0 0;
	border: 0;
    }
    
    /* ------------------------------- */
    /* Media Section
    ---------------------------------- */
    .media {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
    }
    .d-flex {
	display: -ms-flexbox !important;
	display: flex !important;
    }
    .media .mr-3{
	margin-right: 1rem !important;
    }
    .media img{
	width: 50px !important;
	height: 50px !important;
	padding: 2px;
	border: 2px solid #f4f4f4;
    } 
    .media-body {
	-ms-flex: 1;
	flex: 1;
	padding: .4rem !important;
    }
    .media-body p{
	font-family: 'Rokkitt', serif;	
	font-weight: 500 !important;
	font-size: 14px;
	color: #88898a;
    }
    .media-body small span{
	font-family: 'Rokkitt', serif;	
	font-size: 12px;
	color: #aaa;
	margin-right: 10px;
    }
    
    
    /* ------------------------------- */
    /* Cardbox Item
    ---------------------------------- */
    .cardbox .cardbox-item {
	  position: relative;
	  display: block;
    }
    .img-responsive{
	  display: block;
	  max-width: 100%;
	  height: auto;
	  margin: 0 auto;
    }	
    .fw {
	  width: 100% !important;
	    height: auto;
    }
    
    
    /* ------------------------------- */
    /* Cardbox Base
    ---------------------------------- */
    .cardbox-base{
     border-bottom: 2px solid #f4f4f4;
    }	
    .cardbox-base ul{
     margin: 5px 0px 5px 15px!important; 
     padding: 5px !important;
     font-size: 0px;	
	display: inline-block;
    }
    .cardbox-base li {
	list-style: none;
	margin: 0px 0px 0px -8px !important;
	padding: 0px 0px 0px 0px !important;
	display: inline-block;
    }
    
    .cardbox-base li a{
	margin: 0px !important;
	padding: 0px !important;
    }
    .cardbox-base li a i{
     position: relative;
     top: 4px; 
     font-size: 16px;
     color: #8d8d8d;
     margin-right: 15px;
    }
    .cardbox-base li a span{
     font-family: 'Rokkitt', serif;
     font-size: 14px;
     color: #8d8d8d;
     margin-left: 20px;
     position: relative;
     top: 5px; 
    }
    .cardbox-base li a em{
     font-family: 'Rokkitt', serif;
     font-size: 14px;
     color: #8d8d8d;
     position: relative;
     top: 3px; 
    }
    .cardbox-base li a img{
	width: 25px;
	height: 25px;
	margin: 0px !important;
	border: 2px solid #fff;
    }
    
    /* ------------------------------- */
    /* Author
    ---------------------------------- */
    .author a{
     font-family: 'Rokkitt', serif;
     font-size: 16px;
     color: #00C4CF;
    }
    .author p{
     font-family: 'Rokkitt', serif;
     font-size: 16px;
     color: #8d8d8d;
    }

    body {
	background: linear-gradient(to right, #6c7a8f, #c0c9d2);
	height: 100%;
	padding-top: 20px;
    }