<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<app-header2></app-header2>
<ion-content>
	<body>
		<div class="container">
			<div class="row align-self-center justify-content-center">
				<div class="col-lg-6">
					<div class="cardbox shadow-lg bg-white">
						<div class="cardbox-heading">
							<div class="dropdown float-right">
								<button (click)="mostrarAcciones()" class="btn btn-flat btn-flat-icon" type="button" data-toggle="dropdown" aria-expanded="false">
								   <em class="fa fa-ellipsis-h"></em>
								</button>
							</div>
							<!--/ dropdown -->
							<div class="media m-0">
								<div class="media-body">
									<p class="m-0" [routerLink]="['/profile', id_user]">{{ username }}</p>
									<small><span><i class="icon ion-md-time"></i>{{ date }}</span></small>
								</div>
							</div>
							<!--/ media -->
						</div>
						<!--/ cardbox-heading -->
						<div class="cardbox-item">
							<img class="img-responsive" [src]="image">
						</div>
						<!--/ cardbox-item -->
						<div class="cardbox-base">
							<ul>
								<li><a><span>{{ title }}</span></a></li>
							</ul>
							<br/>
							<ul class="float-right">
								<li><a (click)="comentar()"><i class="fa fa-comments"></i></a></li>
								<li><a><em class="mr-5">{{ comments }}</em></a></li>
							</ul>
							<ul>
								<li><a (click)="darLike()">
									<i *ngIf="likeExiste" style="color: blue" class="fa fa-thumbs-up"></i>
									<i *ngIf="!likeExiste" class="fa fa-thumbs-up"></i>
								</a></li>
								<li><a><span>{{ likes }} Likes</span></a></li>
							</ul>
						</div>
						<!--/ cardbox-like -->
					</div>
					<!--/ cardbox -->
				</div>
				<!--/ col-lg-6 -->
			</div>
			<!--/ row -->
		</div>
		<!--/ container -->
	</body>
</ion-content>