<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<app-header></app-header>

<ion-content color="azuldegradado">
		<!--<body>-->
			<div class="container" *ngFor="let publication of allPublications">
				<div class="row align-self-center justify-content-center">
					<div class="col-lg-6">
						<div class="cardbox shadow-lg bg-white">
							<div class="cardbox-heading">
								<!--/ dropdown -->
								<div class="media m-0">
									<div class="media-body">
										<p class="m-0"
											[routerLink]="['/profile', publication.idusuario]">
											{{ publication.usuario }}</p>
										<small><span><i class="icon ion-md-time"></i>{{ publication.fecha }}</span></small>
									</div>
								</div>
								<!--/ media -->
							</div>
							<!--/ cardbox-heading -->
							<div class="cardbox-item">
								<img class="img-responsive" [src]="publication.imagen" [routerLink]="['/publications/publication', publication.id]">
							</div>
							<!--/ cardbox-item -->
							<div class="cardbox-base">
								<ul>
									<li><a><span>{{ publication.titulo }}</span></a></li>
								</ul>
								<br />
							</div>
							<!--/ cardbox-like -->
						</div>
						<!--/ cardbox -->
					</div>
					<!--/ col-lg-6 -->
				</div>
				<!--/ row -->
			</div>
			<!--/ container -->
		<!--</body>-->
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
	<ion-fab-button color="azulnaranja">
		<ion-icon name="grid-outline"></ion-icon>
	</ion-fab-button>
	<ion-fab-list side="start">
		<ion-fab-button (click)="irAddPublication()" color="blancoazul">
			<ion-icon name="add-outline"></ion-icon>
		</ion-fab-button>
		<ion-fab-button (click)="irAddProduct()" color="blancoazul">
			<ion-icon name="pricetags-outline"></ion-icon>
		</ion-fab-button>
		<ion-fab-button (click)="addFolder()" color="blancoazul">
			<ion-icon name="folder-open-outline"></ion-icon>
		</ion-fab-button>
	</ion-fab-list>
</ion-fab>