<app-header2></app-header2>

<ion-content>

	<body>
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card">
					<div class="card-header">
						<h3>Modificar usuario</h3>
					</div>
					<div class="card-body">
						<form #formLogin="ngForm">
							<div class="row">
								<!-- Correo electrónico -->
								<div class="input-group form-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<ion-icon name="mail"></ion-icon>
										</span>
									</div>
									<input type="email" class="form-control" name="email"
										[(ngModel)]="email">
								</div>
								<!-- Nombre -->
								<div class="input-group form-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<ion-icon name="person"></ion-icon>
										</span>
									</div>
									<input type="text" class="form-control" name="name"
										[(ngModel)]="name">
								</div>
								<!-- Usuario -->
								<div class="input-group form-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<ion-icon name="at"></ion-icon>
										</span>
									</div>
									<input type="email" class="form-control" name="username"
										[(ngModel)]="username">
								</div>
							</div>
							<br />
							<div class="form-group">
								<input (click)="modificarPerfil()" type="submit"
									value="Modificar usuario" class="btn float-right login_btn">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</ion-content>