<app-header2></app-header2>

<ion-content color="azuldegradado">
	<br><br><br>
	<div class="container">
		<ion-item color="grisazul">
			<ion-label position="floating">Usuario</ion-label>
			<ion-input [value]="username" disabled></ion-input>
		</ion-item>
		<ion-item color="grisazul">
			<ion-label position="floating">Asunto</ion-label>
			<ion-input [(ngModel)]="asunto"></ion-input>
		</ion-item>
		<ion-item color="grisazul">
			<ion-label position="floating">Cuerpo del mensaje</ion-label>
			<ion-textarea [(ngModel)]="mensaje"></ion-textarea>
		</ion-item>
		<br><br>
		<ion-button color="azulnaranja" (click)="enviarMensaje()">Enviar mensaje</ion-button>
	</div>
</ion-content>