<app-header2></app-header2>

<ion-content>

<ion-list>
	<ion-item mode="ios" [routerLink]="['/profile/me/edit']">
		<ion-icon name="person-outline" slot="start"></ion-icon>
		<ion-label>Modificar perfil</ion-label>
	</ion-item>
	<ion-item mode="ios" [routerLink]="['/profile/me/configure-paypal']">
		<ion-icon name="card-outline" slot="start"></ion-icon>
		<ion-label>Configurar pagos</ion-label>
	</ion-item>
	<ion-item mode="ios" [routerLink]="['/configuration/edit-commission']">
		<ion-icon name="map-outline" slot="start"></ion-icon>
		<ion-label>Activar/Desactivar comisiones</ion-label>
	</ion-item>
	<ion-item mode="ios" [routerLink]="['/configuration/edit-pass']">
		<ion-icon name="key-outline" slot="start"></ion-icon>
		<ion-label>Modificar contraseña</ion-label>
	</ion-item>
	<ion-item mode="ios" [routerLink]="['/configuration/delete-account']">
		<ion-icon name="trash-outline" slot="start"></ion-icon>
		<ion-label>Eliminar cuenta</ion-label>
	</ion-item>
</ion-list>

</ion-content>
