<app-header2></app-header2>

<ion-content class="content" *ngIf="verificado===true" color="azuldegradado">
	<div class="row">
		<div class="col-lg-4 col-md-6 mb-4" *ngIf="comisiones===true">
			<div class="card h-100">
				<a [routerLink]="['/commission', idusuario]"><img class="card-img-top" src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/100261183/original/5154277e6ac224d94b224eeac070aa0c2563546e/draw-art-commissions-for-you.jpg"></a>
				<div class="card-body">
					<h4 class="card-title">
						<a [routerLink]="['/commission', idusuario]">Pedido personalizado</a>
					</h4>
					<h5>Precio variable según el pedido</h5>
					<p class="card-text"> Haz click en este producto para rellenar el formulario para hacer un pedido personalizado. </p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
			<div class="card h-100">
				<a [routerLink]="['/product', product.id]"><img class="card-img-top" [src]="product.imagen" ></a>
				<div class="card-body">
					<h4 class="card-title">
						<a [routerLink]="['/product', product.id]">{{ product.titulo }}</a>
					</h4>
					<h5>{{ product.precio }} €</h5>
					<p class="card-text"> {{ product.descripcion }} </p>
				</div>
			</div>
		</div>
	</div>
</ion-content>
<ion-content *ngIf="verificado!=true">
	<body>
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card-2">
					<div class="card-header card-header-2">
						<h3>Aviso de ArtisanDraw</h3>
					</div>
					<div class="card-body">
						<span class="texto"> Para poder habilitar su tienda, debe configurar su cuenta de
							PayPal y verificarla.
							Para ello, acceda al siguiente enlace. </span><br><br>
						<ion-button routerLink="/profile/me/configure-paypal"> Configurar PayPal
						</ion-button>
					</div>
				</div>
			</div>
		</div>
	</body>
</ion-content>