.row {
	margin: 10px;
}

.invalid {
	color: #c7eae4;
	margin-bottom: 7px;
}

.logo {
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-left: 20px;
}

.titulo {
	vertical-align: middle;
	display: inline-block;
	color: #25374e;
}

html,body{
	background-color: #a6d8e0;
	background: linear-gradient(to right, #6c7a8f, #c0c9d2);
	height: 100%;
	font-family: 'Numans', sans-serif;
}

.container{
	height: 100%;
	align-content: center;
}

.card {
	color: #1c4269 !important;
	background-color: white !important;
}

.card-2{
	height: 260px;
	margin-top: auto;
	margin-bottom: auto;
	width: 500px;
	background-color: rgb(37,55,78,0.5)!important;
}

.card-header-2 h3{
	text-align: center;
	padding-top: 10px;
	color: white;
}

.texto {
	color: white;
}

.card-title a {
	color: #ff6a00 !important;
}

