<app-header2></app-header2>

<ion-content color="azuldegradado">
	<body>
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card">
					<div class="card-header">
						<h3>Modificar contraseña</h3>
					</div>
					<div class="card-body">
						<form #formLogin="ngForm">
							<div class="row">
								<div class="col-md-12">
									<!-- Dirección de envío -->
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<ion-icon name="key"></ion-icon>
											</span>
										</div>
										<input type="password" class="form-control" name="pass"
											[(ngModel)]="pass" placeholder="Contraseña actual" required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<!-- Dirección de envío -->
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<ion-icon name="key"></ion-icon>
											</span>
										</div>
										<input type="password" class="form-control" name="newpass"
											[(ngModel)]="newpass" placeholder="Nueva contraseña" required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<!-- Dirección de envío -->
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<ion-icon name="key"></ion-icon>
											</span>
										</div>
										<input type="password" class="form-control" name="newpass0"
											[(ngModel)]="newpass0" placeholder="Confirmar nueva contraseña" required>
									</div>
								</div>
							</div>
						</form>
						<br/>
						<ion-button color="azulnaranja" (click)="modificar()">Modificar contraseña</ion-button>
					</div>
				</div>
			</div>
		</div>
	</body>
</ion-content>
