<app-header2></app-header2>

<ion-content>

	<body>
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card">
					<div class="card-header">
						<h3>Completar compra</h3>
					</div>
					<div class="card-body">
						<span class="texto">Precio: {{ price }} €</span><br>
						<span class="texto">Gastos de envio: {{ envio }} €</span><br>
						<span class="texto">Total: {{ price+envio }} €</span><br><br>
						<span class="texto">Si va a recibir un producto digital, por favor, indique su correo electrónico.
							Si por el contrario, el producto es físico, indique la dirección donde quiera recibirlo.
						</span><br>
						<br>
						<form #formLogin="ngForm">
							<div class="row">
								<div class="col-md-12">
									<!-- Dirección de envío -->
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<ion-icon name="map"></ion-icon>
											</span>
										</div>
										<input type="text" class="form-control" name="direccion"
											[(ngModel)]="direccion" placeholder="Dirección de envío"
											required>
									</div>
								</div>
							</div>
						</form>
						<br>
						<div id="paypal-checkout-btn"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</ion-content>