<ion-header>
	<ion-toolbar class="navbar">

		<ion-buttons slot="end" (click)="activarMenu()">
			<ion-menu-button auto-hide="false"></ion-menu-button>
		</ion-buttons>

		<img [routerLink]="['/home']" src="../../../assets/logo.png" class="logo">
		<!--<ion-title class="titulo">ArtisanDraw</ion-title>-->
	</ion-toolbar>
</ion-header> 