.logo {
	height: 56px;
	display: inline-block;
	margin-left: 20px;
}

.navbar {
	vertical-align: middle;
}

.titulo {
	display: inline-flex;
}

@media screen and (max-width: 600px) {
	.ocultar-div{
		display:none;
	}
}