<ion-header>
	<ion-toolbar class="navbar">
		<img src="../../../assets/logo.png" class="logo">
	</ion-toolbar>
</ion-header>

<ion-content>

	<body>
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card">
					<div class="card-header">
						<h3>Regístrate</h3>
					</div>
					<div class="card-body">
						<form #formLogin="ngForm">
							<div class="row">
								<div class="col-md-6">
									<!-- Correo electrónico -->
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<ion-icon name="mail"></ion-icon>
											</span>
										</div>
										<input type="email" class="form-control" name="correo"
											#correo="ngModel" [(ngModel)]="email"
											placeholder="Correo electrónico" required>
									</div>
									<div class="invalid">
										<span *ngIf="correo.touched && !correo.valid">
											El correo electrónico es obligatorio.
										</span>
									</div>
									<!-- Nombre -->
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<ion-icon name="person"></ion-icon>
											</span>
										</div>
										<input type="text" class="form-control" name="nombre"
											#nombre="ngModel" [(ngModel)]="name"
											placeholder="Nombre" required>
									</div>
									<div class="invalid">
										<span *ngIf="nombre.touched && !nombre.valid">
											El nombre es obligatorio.
										</span>
									</div>
									<!-- Usuario -->
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<ion-icon name="at"></ion-icon>
											</span>
										</div>
										<input type="email" class="form-control" name="username"
											#username="ngModel" [(ngModel)]="user"
											placeholder="Usuario" required>
									</div>
									<div class="invalid">
										<span *ngIf="username.touched && !username.valid">
											El nombre de usuario es obligatorio.
										</span>
									</div>
								</div>
								<div class="col-md-6">
									<!-- Contraseña -->
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<ion-icon name="key"></ion-icon>
											</span>
										</div>
										<input type="password" class="form-control" name="password"
											#password="ngModel" [(ngModel)]="pass"
											placeholder="Contraseña" required>
									</div>
									<div class="invalid">
										<span *ngIf="password.touched && !password.valid">
											La contraseña es obligatoria.
										</span>
									</div>
									<!-- Confirmar contraseña -->
									<div class="input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<ion-icon name="key"></ion-icon>
											</span>
										</div>
										<input type="password" class="form-control"
											name="confirm_pass" #confirm_pass="ngModel"
											[(ngModel)]="confirmar_pass"
											placeholder="Confirmar contraseña" required>
									</div>
									<div class="invalid">
										<span
											*ngIf="confirm_pass.touched && (!confirm_pass.valid || password.value != confirm_pass.value)">
											Las contraseñas no coinciden.
										</span>
									</div>
								</div>
							</div>
							<br />
							<div class="form-group">
								<input (click)="onSubmitRegister()" [disabled]="!formLogin.valid"
									type="submit" value="Crear cuenta"
									class="btn float-right login_btn">
							</div>
						</form>
					</div>
					<div class="card-footer">
						<div class="d-flex justify-content-center links">
							¿Ya tienes cuenta?<a routerLink="/login">Iniciar sesión</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</ion-content>