<app-header2></app-header2>

<ion-content color="azuldegradado">

	<ion-list class="lista">
		<ion-item color="azulnaranja">
			<ion-label>Fecha</ion-label>
			<ion-label>Autor</ion-label>
			<ion-label>Tipo</ion-label>
			<ion-label>Estado</ion-label>
			<ion-label>Acciones</ion-label>
		</ion-item>
		<ion-item *ngFor="let pedido of pedidos" color="grisazul">
			<ion-label> {{ pedido.fecha }}</ion-label>
			<ion-label> {{ pedido.autor }}</ion-label>
			<ion-label> {{ pedido.tipo }} </ion-label>
			<ion-label> {{ pedido.estado }} </ion-label>
			<ion-label>
				<ion-buttons>
					<ion-button [routerLink]="['/pay-commission', pedido.id]" *ngIf="pedido.estado === 'Aceptado - Pendiente de pago'">
						<ion-icon name="cart-outline"></ion-icon>
					</ion-button>
				</ion-buttons>
			</ion-label>
		</ion-item>
	</ion-list>

</ion-content>